{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {epgsql, ".*", {git, "git://github.com/mhishami/epgsql.git", "master"}},
  {poolboy, ".*", {git, "git://github.com/mhishami/poolboy.git", "master"}}
]}.
{sub_dirs, []}.
